<div class="overview">
    <ngx-datatable class="material"
                   #consequenceTable
                   [rows]="types"
                   [limit]="10"
                   [rowHeight]="'auto'"
                   [headerHeight]="50"
                   [footerHeight]="80"
                   [columnMode]="'fixed'"
                   [scrollbarH]="true"
                   [selectionType]="'multiClick'"
                   (activate)="onActivate($event)"
                   [rowClass]="rowClass"
    >

        <ngx-datatable-row-detail [rowHeight]="100" #consequenceDetail>
            <ng-template let-row="row" ngx-datatable-row-detail-template>
                <div style="padding-left:35px;">
                    <div class="row-detail">
                        <div class="group">
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Ensembl Gene Id:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.ensemblGeneId }}</span>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Strand:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.strand }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Exon Number:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.exonNumber }}</span>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-label">
                                    <span>CDNA Position:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.cdnaPosition }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="group">
                            <div class="detail">
                                <div class="detail-label">
                                    <span>CDS Position:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.cdsPosition }}</span>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Codon:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ row.codon }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngx-datatable-row-detail>

        <ngx-datatable-column
            [width]="30"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a
                    [class.icon-right]="!row.$$expanded"
                    [class.icon-down]="row.$$expanded"
                    title="Expand/Collapse Row">
                </a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Gene"
                              [prop]="'geneName'"
                              [width]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="selectable">
                    {{ value }}
                    <span class="empty-cell" *ngIf="value === null || value === ''">N/A</span>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [prop]="'ensemblTranscriptId'"
                              [width]="200">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="selectable">
                    {{ value }}
                    <span class="empty-cell" *ngIf="value === null || value === ''">N/A</span>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [prop]="'biotype'"
                              [width]="200">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="selectable">
                    {{ value }}
                    <span class="empty-cell" *ngIf="value === null || value === ''">N/A</span>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [prop]="'transcriptAnnotationFlags'"
                              [width]="200">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="selectable">
                    <span>{{ value.join(', ') }}</span>
                    <span class="empty-cell" *ngIf="value === null || value === ''">N/A</span>
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [prop]="'sequenceOntologyTerms'"
                              [width]="300">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="selectable">
                    <span class="term">{{ displayTerms(value) }}</span>
                    <span class="empty-cell" *ngIf="value === null || value === '' || value.length <= 0">N/A</span>
                </div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>
