<div class="overview">
    <ngx-datatable class="material"
                   [rows]="scores"
                   [limit]="10"
                   [rowHeight]="30"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columnMode]="'flex'"
    >
        <ngx-datatable-column name="Score"
                              [prop]="'score'"
                              [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Source"
                              [prop]="'source'"
                              [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description"
                              [prop]="'description'"
                              [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
                <span class="empty-cell" *ngIf="!value">Unavailable</span>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
