.selectable {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.empty-cell {
    color: rgba(0, 60, 105, 0.5);
    font-style: italic;
}
