<!--Inspired by http://exac.broadinstitute.org/ allele frequency-->
<div class="chart" *ngIf="formattedFreq && ts.showScales" [mdTooltip]="formattedFreq">
    <div [ngClass]="{ active: freq > 0 }"></div>
    <div [ngClass]="{ active: freq > scales[0] }"></div>
    <div [ngClass]="{ active: freq > scales[1] }"></div>
    <div [ngClass]="{ active: freq > scales[2] }"></div>
    <div [ngClass]="{ active: freq > scales[3] }"></div>
    <div [ngClass]="{ active: freq > scales[4] }"></div>
</div>

<div *ngIf="!ts.showScales">
    {{ formattedFreq }}
</div>

