
<app-page-container>
    <div class="initiatives">
        <app-search-bar-with-options class="band" [expanded]="true"></app-search-bar-with-options>
        <div class="band-flex">
            <div class="program-cards">
                <app-program-card *ngFor="let initiative of initiatives" [initiative]="initiative"></app-program-card>
            </div>
        </div>

        <div class="band-flex">
            <div class="totals">
                <app-totals-widget></app-totals-widget>
            </div>
        </div>

        <app-home-footer class="band"></app-home-footer>

    </div>
</app-page-container>

