.initiatives {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
}

.band-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
}

.program-cards {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    flex-grow: 2;
    flex-basis: 0;
}

.totals {
    display: flex;
    max-width: 1200px;
    flex-grow: 2;
    flex-basis: 0;
}

.cover-parent {
    width: 100%;
    position: relative;
}

.shadow-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

app-program-card {
    z-index: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

app-home-footer {
    border-top: 1px solid lightgray;
}

app-search-bar-with-options {
    border-bottom: 1px solid lightgrey;
}

app-title-logo-banner {
    position: relative;
}

.band {
    width: 100%;
}

app-page-container {
    height: 100%;
}

@media (min-width: 0px) and (max-width: 1120px) {

    .program-cards {
        justify-content: center;
    }
}
