.title {
    font-size: xx-large;
    margin-top: 0;
}

section {
    height: 500px;
    width: 1000px;
}



@media (min-width: 0px) and (max-width: 600px) {

    section {
        width: 360px;
    }
}
