<div class="search-result-content" *ngIf="beacons">
    <div class="results">
        <div class="table-container">
            <table>
                <tbody>
                <tr>
                    <th *ngFor="let key of labels" (click)="sortResponses(key)">{{ key }} <i
                        class="material-icons">code</i></th>
                <tr>
                <tr *ngFor="let response of responses | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                    <td class="loading" *ngIf="response.loading"><span>Loading...{{ response.id }}</span><i
                        class="fa fa-circle-o-notch fa-spin fa-fw"></i></td>
                    <td *ngIf="response.loading">...</td>
                    <td *ngIf="response.loading">...</td>

                    <td *ngIf="!response.loading && response.error">{{ response.id }}</td>
                    <td *ngIf="!response.loading && response.error">...</td>
                    <td *ngIf="!response.loading && response.error" class="message-error">{{ response.error }}
                    </td>

                    <td *ngIf="!response.loading && !response.error">{{ response.result.beacon.name }}</td>
                    <td *ngIf="!response.loading && !response.error">
                        <div *ngIf="!(response.displayUrl)">{{ response.result.beacon.organization }}</div>
                        <a target="_blank" *ngIf="response.displayUrl" href="{{ response.displayUrl }}">{{
                            response.result.beacon.organization }} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </td>
                    <td *ngIf="!response.loading && !response.error && !foundOnly"
                        [ngClass]="{'message-success': response.result.response, 'message-warning': !response.result.response}">
                        {{ response.displayResult() | uppercase }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination" *ngIf="pagination">
            Results per page:<select [(ngModel)]="pageSize" name="'pageSize">
            <option *ngFor="let item of [10, 20, 50, 100]" value="{{ item }}">{{ item }}</option>
        </select>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>
