<div class="results" *ngIf="variants.length">

    <div class="task-bar">
        <div class="options">
            <span *ngIf="!ts.activeColumns().length">Select columns to view</span>
            <i *ngIf="!loadingDownload" (click)="downloadFile()" matTooltip="Download Variants (CSV)" matTooltipPosition="above"
               class="material-icons">file_download</i>
            <mat-spinner *ngIf="loadingDownload" diameter="20"></mat-spinner>
            <i *ngIf="showSettings" [matMenuTriggerFor]="tableSettings" matTooltip="Table Settings" class="material-icons">
                settings
            </i>
        </div>
    </div>

    <div class="table-container">
        <mat-progress-bar *ngIf="loadingTable"
            color="primary"
            mode="indeterminate">
        </mat-progress-bar>
        <table>
            <tbody>
            <tr>
                <th *ngFor="let key of ts.activeColumns()" (click)="sortVariants(key)">
                    <span matTooltip="{{ ts.tooltip(key) }}" matTooltipPosition="above">{{ key }}</span>
                    <i class="material-icons">code</i>

                </th>
            <tr>
            <tr *ngFor="let variant of variants | paginate: {itemsPerPage: pageSize,
                                                             currentPage: currentPage,
                                                             totalItems: total }; index as i"
                [ngClass]="{'highlighted': i === highlightIndex }"
                (mouseover)="highlightVariant(variant, i)"
                (mouseout)="unHighlightVariant(variant, i)">

                <td *ngFor="let label of ts.activeColumns()">

                    <span *ngIf="label !== 'Allele Freq' && label !== 'GnomadAF' && label !== 'Location' && label !== 'Variant'"
                          class="value">{{ ts.display(label, variant) }}</span>
                    <a *ngIf="label === 'Location'" target="_blank" [href]="variantUrl(variant)">{{ ts.display(label, variant) }}</a>
                    <a *ngIf="label === 'Variant'" target="_blank" [href]="variantUrl(variant)">{{ ts.display(label, variant) }}</a>
                    <app-allele-freq *ngIf="label === 'Allele Freq'"
                                     [freq]="variant.af"></app-allele-freq>
                    <app-allele-freq *ngIf="label === 'GnomadAF'"
                                     [freq]="variant.gnomadAF" color="seagreen"></app-allele-freq>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div>
            <span>Results per page:</span>
            <select (change)="updatePageSize($event.target.value)" name="'pageSize">
                <option *ngFor="let item of [10, 20, 50, 100]" value="{{ item }}">{{ item }}</option>
            </select>
        </div>
        <pagination-controls (pageChange)="updatePage($event)"></pagination-controls>
    </div>
</div>

<mat-menu #tableSettings="matMenu">
    <div mat-menu-item (click)="toggleScales($event)">
        <mat-slide-toggle
            [checked]="ts.showScales"
            (change)="ts.showScales = $event.checked"
            (click)="$event.stopPropagation()">
            Show AF on a discrete scale
        </mat-slide-toggle>
    </div>
    <button mat-menu-item [matMenuTriggerFor]="activeColumns">Show/Hide Columns</button>
</mat-menu>

<mat-menu class="custom-mat-short-column" #activeColumns="matMenu">
    <div mat-menu-item *ngFor="let key of ts.keys()" (click)="activateColumn($event, key)">
        <mat-slide-toggle [checked]="ts.get(key)" (change)="ts.set(key, $event.checked)" (click)="$event.stopPropagation()">{{ key }}
        </mat-slide-toggle>
    </div>
</mat-menu>
