<div class="results">

    <div class="task-bar">
        <app-filter-auto [variants]="variants" (output)="onFilter($event)"></app-filter-auto>

        <div class="options">
            <span *ngIf="!ts.activeColumns().length">Select columns to view</span>
            <app-columns-menu></app-columns-menu>
            <i (click)="downloadFile()" md-tooltip="Download Variants (CSV)" mdTooltipPosition="above"
               class="material-icons">file_download</i>
            <i [mdMenuTriggerFor]="tableSettings" md-tooltip="Table Settings" class="material-icons">
                settings
            </i>
            <md-menu #tableSettings="mdMenu">
                <div md-menu-item (click)="$event.stopPropagation()">
                    <md-slide-toggle
                        [(ngModel)]="ts.showScales"
                        [checked]="ts.showScales">
                        <span *ngIf="!ts.showScales">Show AF as scale</span>
                        <span *ngIf="ts.showScales">Show AF as float</span>
                    </md-slide-toggle>
                </div>
                <button md-menu-item [mdMenuTriggerFor]="activeColumns">Show/Hide Columns</button>
            </md-menu>
            <md-menu #activeColumns="mdMenu">
                <div md-menu-item *ngFor="let key of ts.keys()" (click)="$event.stopPropagation()">
                    <md-slide-toggle [checked]="ts.get(key)" (change)="this.ts.set(key, $event.checked)">{{ key }}</md-slide-toggle>
                </div>
            </md-menu>
        </div>
    </div>

    <div class="table-container">
        <table>
            <tbody>
            <tr>
                <th *ngFor="let key of ts.activeColumns()" (click)="sortVariants(key)">
                    <span md-tooltip="{{ ts.tooltip(key) }}" mdTooltipPosition="above">{{ key }}</span>
                    <i class="material-icons">code</i>

                </th>
            <tr>
            <tr *ngFor="let variant of variants | paginate: { itemsPerPage: pageSize, currentPage: currentPage }"
                [ngClass]="{'highlighted': compare(variant, highlightedVariant) }"
                (mouseover)="highlightVariant(variant)"
                (mouseout)="unHighlightVariant(variant)">

                <td *ngFor="let label of ts.activeColumns()">

                    <span *ngIf="label !== 'Allele Freq' && label !== 'GnomadAF' && label !== 'Location'"
                          class="value">{{ ts.display(label, variant) }}</span>
                    <a *ngIf="label === 'Location'" target="_blank" [href]="variantUrl(variant)">{{ ts.display(label, variant) }}</a>
                    <app-allele-freq *ngIf="label === 'Allele Freq'"
                                     [freq]="variant.AF"></app-allele-freq>
                    <app-allele-freq *ngIf="label === 'GnomadAF'"
                                     [freq]="variant.gnomadAF"></app-allele-freq>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div>
            <span>Results per page:</span>
            <select [(ngModel)]="pageSize" name="'pageSize">
                <option *ngFor="let item of [10, 20, 50, 100]" value="{{ item }}">{{ item }}</option>
            </select>
        </div>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>
