<div class="totals-widget">
    <div class="stat">
        <i class="material-icons">timeline</i>
        <div class="total-label">Genomes Sequenced</div>
        <div class="total-number">4,689</div>
    </div>

    <div class="separator"></div>

    <div class="stat">
        <i class="material-icons">people</i>
        <div class="total-label">Patients and Participants</div>
        <div class="total-number">8,295</div>
    </div>

    <div class="separator"></div>

    <div class="stat">
        <i class="material-icons">share</i>
        <div class="total-label">Research Projects</div>
        <div class="total-number">12</div>
    </div>

    <div class="separator"></div>

    <div class="stat">
        <i class="material-icons">memory</i>
        <div class="total-label">Terabytes of Data</div>
        <div class="total-number">700</div>
    </div>
</div>
