<div class="overview">
    <md-tab-group [selectedIndex]="selectedIndex">
        <md-tab *ngFor="let study of studies" [label]="study">
            <ngx-datatable class="material"
                           [rows]="freqStudies[study]"
                           [limit]="10"
                           [scrollbarH]="true"
                           [headerHeight]="50"
                           [footerHeight]="80"
                           [rowHeight]="'auto'">

                <ngx-datatable-column [prop]="'population'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'refAlleleFreq'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'altAlleleFreq'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'refHomGenotypeFreq'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'hetGenotypeFreq'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'altHomGenotypeFreq'"
                                      [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="selectable">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </md-tab>
    </md-tab-group>
</div>
