<app-page-container>
    <section class="about">
        <article>
            <div class="content">
                <h1 class="title">About</h1>
                <p>
                    The Sydney Genomics Collaborative is a $24 million, four-year investment by the NSW State Government
                    in
                    using genetic technologies to improve patient outcomes.
                </p>

                <p>
                    Genomics is one of the fastest-growing areas of medical research and has emerged as a highly
                    promising
                    source of new insights into the genetic cause of disease.
                </p>

                <p>
                    The Sydney Genomics Collaborative program was established with NSW State Government funding in June
                    2014
                    to boost genomic research across NSW into inherited diseases and disorders with a genetic component,
                    including cancer.
                </p>

                <p>
                    The Collaborative utilises the Illumina HiSeq X Ten, a high-speed genome sequencing system operated
                    by
                    the Garvan Institute of Medical Research. The Illumina HiSeq X Ten technology enables the study of
                    whole-genome sequences at the scale of large populations.
                </p>

                <p>
                    The Collaborative Program comprises:
                </p>

                <ul>
                    <li>
                        <a routerLink="/initiatives/mgrb">Medical Genome Reference Bank</a> – a resource containing
                        approximately 4,000 whole genome sequences
                        from
                        healthy, aged people to be used for control purposes in disease-specific genomic research.
                    </li>

                    <li>
                        <a routerLink="/initiatives/nswgp">NSW Genomics Collaborative Grants</a> – funding for
                        researchers
                        to undertake whole-genome sequencing to
                        improve understanding of the genetic causes of disease.
                    </li>

                    <li>
                        <a routerLink="/initiatives/gcmp">Genomic Cancer Medicine Program</a> – a research program
                        dedicated
                        to applying genomics to the
                        understanding, early detection, prevention and management of cancer, led by the Head of Garvan’s
                        Cancer
                        Division and Director of The Kinghorn Cancer Centre, Professor David Thomas.
                    </li>
                </ul>
                <h1 class="title">Contact Us</h1>
                <div class="contact">
                    <div class="contact-details">
                        <p>+61 2 9355 5842</p>
                        <p>sgc@garvan.org.au</p>
                    </div>
                    <div class="map">
                        <iframe frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=Garvan&key=AIzaSyAxTyhAgDutMYTtpODzM6HX_20SHXHdpiw"></iframe>
                    </div>
                </div>
            </div>
            <div class="sponsor-images">
                <img src="assets/logos/nswhealth.png">
                <img class="garvan-logo" src="assets/logos/kccggarvan.png">
            </div>
        </article>

    </section>
</app-page-container>
