.toolbar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 35px;
    margin-top: 1rem;
}



:host /deep/ .dc-chart rect.bar {
    cursor: default;
}

h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 60, 105, 0.5);
    font-weight: bold;
}

.message.message-error {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
