.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

p {
    font-size: smaller;
    margin: 0;
    line-height: 95%;
    max-width: 70%;
}

