.cohort-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    background-color: white;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 245px;
    justify-content: space-between;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.people {
    position: relative;
    overflow: hidden;
    height: 195px;
    width: 150px;
}

.person {
    position: absolute;
}

.people * {
    margin: 0;
}

.logos {
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: auto;
    width: 150px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.title {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    font-size: x-large;
    text-align: center;
    line-height: normal;
    min-height: 60px;
}
