<div class="footer-band">
    <div class="footer">
        <div class="contact">
            <h6>CONTACT</h6>
            <div class="contact-details">
                <p>Phone: +61 (0)7 3377 0600</p>
                <p>Email: info@autismcrc.com.au</p>
                <p>80 Meiers Road</p>
                <p>Indooroopilly, QLD 4068,</p>
                <p>Australia</p>
            </div>
        </div>
        <div class="partners">
            <h6>PARTNERS</h6>
            <div class="logos">
                <div class="logo-group">
                    <a href="https://www.autismcrc.com.au " target="_blank"><img
                            src="assets/logos/qg.png"></a>
                    <a href="https://www.autismcrc.com.au " target="_blank"><img src="assets/logos/epl.png"></a>
                </div>
                <div class="logo-group">
                    <a href="https://www.autismcrc.com.au "
                       target="_blank"><img src="assets/logos/as.png"></a>
                    <a href="https://www.autismcrc.com.au "
                       target="_blank"><img src="assets/logos/aq.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
