<div class="footer-band">
    <div class="footer">
        <div class="contact">
            <h6>CONTACT</h6>
            <div class="contact-details">
                <p>Phone: (03) 9936 6345</p>
                <p>Email: australian.genomics@mcri.edu.au</p>
                <p>50 Flemington Road</p>
                <p>Parkville, Victoria 3052,</p>
                <p>Australia</p>
            </div>
        </div>
        <div class="partners">
            <h6>PARTNERS</h6>
            <div class="logos">
                <div class="logo-group">
                    <a href="http://www.health.nsw.gov.au/Pages/default.aspx" target="_blank"><img
                            src="assets/logos/nswhealth.png"></a>
                    <a href="http://nci.org.au/" target="_blank"><img src="assets/logos/nci.png"></a>
                </div>
                <div class="logo-group">
                    <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                       target="_blank"><img src="assets/logos/kccggarvan.png"></a>
                    <a href="https://www.genome.one/"
                       target="_blank"><img src="assets/logos/g-one.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
