<div class="footer-band">
    <div class="footer">
        <div class="contact">
            <h6>CONTACT</h6>
            <div class="contact-details">
                <p>Phone: +61 2 9359 8002</p>
                <p>Email: enquiries@genome.one</p>
                <p>370 Victoria St,</p>
                <p>Darlinghurst, NSW 2010,</p>
                <p>Australia</p>
            </div>
        </div>
        <div class="partners">
            <div class="logos">
                <div class="logo-group">
                    <a href="https://www.genome.one/"
                       target="_blank"><img id="gone-logo" src="assets/logos/g-one.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
