<div class="about-bar-band">
    <div class="about">
        <article>
            <div class="content">
                <div class="title">Whole Genome Sequencing</div>
                <ul>
                    <li>Low cost and high quality</li>
                    <li>Rapid and accurate</li>
                    <li>30X coverage</li>
                </ul>
            </div>
            <a href="mailto:sgc@garvan.org.au?subject=SGC%20Sequence%20Request">
                <button mat-raised-button>Sequence Your Cohort</button>
            </a>
        </article>
        <article>
            <div class="content">
                <div class="title">Genomic Variant Database</div>
                <ul>
                    <li>Secure computational architecture</li>
                    <li>Analytical framework</li>
                    <li>Extensive genome annotation</li>
                </ul>
            </div>

            <a href="mailto:sgc@garvan.org.au?subject=SGC%20Cohort%20Contribution%20Request">
                <button mat-raised-button>Contribute Your Cohort</button>
            </a>
        </article>
    </div>
</div>
