<app-page-container>
    <section>
        <div class="message message-error" *ngIf="error">{{ error }}</div>
        <div class="loading-message" *ngIf="loading && !error">
            <md-spinner color="primary"></md-spinner>
        </div>
        <div *ngIf="variant" class="details">
            <div class="title">
                Variant {{ displayName(variant) }}
            </div>
            <div class="group">

                <div class="subgroup">
                    <div class="detail-type">Reference Information (GRCh37)</div>
                    <div class="sibling">
                        <div class="subgroup">
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Cohorts:</span>
                                </div>
                                <div class="detail-value">
                                    <span>MGRB</span>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Chromosome:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.chromosome }}</span>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>Start:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.start }}</span>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>Reference:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.reference }}</span>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>Alternate:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.alternate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="subgroup">
                            <div class="detail">
                                <div class="detail-label">
                                    <span>Type:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.type }}</span>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>Frequency:</span>
                                </div>
                                <div class="detail-value">
                                    <span>{{ variant.variantStats[0].altAlleleFreq.toExponential(4) }}</span>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>Gene:</span>
                                </div>
                                <div class="detail-value" *ngIf="gene">
                                    <a id="gene_en_id" target="_blank"
                                       href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ gene.id }}">
                                        {{ gene.symbol }}<i class="fa fa-external-link" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="detail">
                                <div class="detail-label">
                                    <span>dbSNP:</span>
                                </div>
                                <div class="detail-value" *ngIf="variant.dbSNP">
                        <span><a target="_blank" href="{{ dbSnpUrl(variant) }}">
                            {{ variant.dbSNP }}
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a></span>
                                </div>
                                <div class="detail-value" *ngIf="!variant.dbSNP">
                                    <span>Not found</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="group">
                <div class="subgroup">
                    <div class="detail-type">External Population Studies</div>
                    <div class="card">

                        <div class="card-row" (click)="togglePopFreq()" *ngIf="popFreq">
                            <div>
                                <span>This variant was found in</span>
                                <span class="highlight-number">{{ popFreq.studies.size }}</span>
                                <span>Population studies</span>
                            </div>
                            <md-icon *ngIf="!showPopFreq">keyboard_arrow_down</md-icon>
                            <md-icon *ngIf="showPopFreq">keyboard_arrow_up</md-icon>
                        </div>
                        <app-pop-freqs [hidden]="!showPopFreq" [variant]="variant"></app-pop-freqs>
                    </div>

                </div>
            </div>

            <div class="group">
                <div class="subgroup">
                    <div class="beacon">
                        <div class="detail-type">Beacon Results</div>
                        <div *ngIf="!beaconSupported">Not supported (SNP only)</div>
                        <div class="loading-message" *ngIf="beaconSupported && !beacons.totalCount()">
                            <md-spinner color="primary"></md-spinner>
                        </div>
                        <div class="card" *ngIf="beaconSupported && beacons.totalCount()">
                            <div class="card-row" (click)="toggleBeacon()">
                                <div>
                                    <span>This variant was found in</span>
                                    <span class="highlight-number">{{ beacons.foundCount() }}</span>
                                    <span> out of </span>
                                    <span class="highlight-number">{{ beacons.totalCount() }}</span>
                                    <span>beacons</span>

                                </div>
                                <md-icon *ngIf="!showBeacon">keyboard_arrow_down</md-icon>
                                <md-icon *ngIf="showBeacon">keyboard_arrow_up</md-icon>
                            </div>
                            <md-progress-bar [mode]="'determinate'"
                                             [value]="beacons.percentComplete()"></md-progress-bar>

                            <app-beacon-table *ngIf="showBeacon && beacons" [beacons]="beacons" [minimal]="true" [limit]="10"></app-beacon-table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" *ngIf="showAnnotations">
                <app-variant-annotations [annotations]="variant.annotation"></app-variant-annotations>
            </div>

        </div>
    </section>
</app-page-container>



