.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.small-chart {
    margin: 1rem;
}

h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 60, 105, 0.5);
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-toolbar mat-icon {
    cursor: pointer;
    margin: 0 1rem 0 0;
}

.count mat-chip {
    cursor: default;
}

.main {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

.search-jumbo {
    border-bottom: 1px solid lightgray;
}

.combined-chart {
    padding: 1rem 1rem 0 1rem;
}

.generated-sql {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    font-family: "Arial", Arial, serif;
    background-color: white;
    border: 1px solid lightgrey;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.chart {
    margin-bottom: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.results {
    position: relative;
}

.loading-message {
    background-color: whitesmoke;
    position: absolute;
    z-index: 100;
}

.message {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.message-error {
    margin-top: 2rem;
}

.message mat-icon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.message-error.search {
    margin-top: 1rem;
}

mat-sidenav {
    width: 220px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.chart-list {
    max-height: 300px;
}

.side-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

mat-sidenav-container mat-expansion-panel {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14);
}
