.count {
    display: flex;
    user-select: text;
}

.count .number {
    background-color: deepskyblue;
    color: white;
    user-select: text;
    cursor: text;
}

.count .number::selection {
    background-color: grey;
}

.search-jumbo {
    border-bottom: 1px solid lightgray;
}

.generated-sql {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    font-family: "Arial", Arial, serif;
    background-color: white;
    border: 1px solid lightgrey;
    font-weight: bold;
}

.loading-message {
    background-color: whitesmoke;
    position: absolute;
    z-index: 100;
}

.message {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.message-error {
    margin-top: 2rem;
}

.message mat-icon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.message-error.search {
    margin-top: 1rem;
}

mat-sidenav {
    width: 220px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.side-list {
    max-height: 300px;
    overflow-y: scroll;
}

.side-toolbar mat-icon {
    cursor: pointer;
    margin: 0 1rem 0 0;
}

.side-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid lightgrey;
}

mat-sidenav-container mat-expansion-panel {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14);
}

.charts {
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.chart {
    margin: 0 1.5rem 0 1.5rem;
}

.side-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.side-item {
    width: 100%;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
}

.side-item:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
