.label {
    font-weight: bold;
    color: rgba(0, 60, 105, 0.5);
}

.label-empty {
    font-style: italic;
    color: rgba(0, 60, 105, 0.2);
}

.label-array {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 5px;
}

.label-array.empty {
    cursor: auto;
}

.list-container {
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

p {
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
}

.list-item {
     background-color: white;
     border: 1px solid lightgray;
     padding: 10px;
 }

.object-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    background-color: white;
}

.object-item {
    padding: 10px;
}

.row {
    line-height: 24px;
}
