<div *ngIf="isSimple(object)">
    <div>
        <span *ngIf="object">{{ object }}</span>
    </div>
</div>

<div *ngIf="isComplex(object) || isArray(object)">
    <div *ngFor="let k of keys" class="row">
        <div *ngIf="isArray(object[k])">
            <div class="list-container" *ngIf="object[k].length <= 0">
                <div class="label-array empty">
                    <span class="label">{{ k | jsonLabel }}:</span>
                    <span class="label-empty" *ngIf="object[k].length <= 0">unavailable</span>
                </div>
            </div>
            <div class="list-container" *ngIf="object[k].length > 0">
                <div class="label-array" (click)="toggleShow(k)">
                    <p><span class="label">{{ k | jsonLabel }}</span><span> ({{ object[k].length }})</span></p>

                    <md-icon *ngIf="!isShown(k)">keyboard_arrow_down</md-icon>
                    <md-icon *ngIf="isShown(k)">keyboard_arrow_up</md-icon>
                </div>
                <div class="container" *ngIf="isShown(k)">
                    <app-virtual-list [items]="object[k]"></app-virtual-list>
                </div>
            </div>
        </div>

        <div *ngIf="isSimple(object[k])">
            <div>
                <span class="label">{{ k | jsonLabel}}: </span>
                <span *ngIf="object[k]">{{ object[k] }}</span>
                <span class="label-empty" *ngIf="!object[k]">unavailable</span>
            </div>
        </div>

        <div *ngIf="isComplex(object[k])">

            <div class="list-container">
                <div class="label-array" (click)="toggleShow(k)">
                    <p><span class="label">{{ k | jsonLabel }}</span></p>

                    <md-icon *ngIf="!isShown(k)">keyboard_arrow_down</md-icon>
                    <md-icon *ngIf="isShown(k)">keyboard_arrow_up</md-icon>
                </div>
                <div class="object-list" *ngIf="isShown(k)">
                    <div class="object-item">
                        <app-anno-tree [object]="object[k]"></app-anno-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

