<div class="search-band">
    <div class="search-content" [ngClass]="{'expanded': expanded}">
        <div class="search-bar">
            <app-search-bar [options]="{autofocus: false}" (focused)="onFocus()" [action]="action"></app-search-bar>
        </div>
        <div class="search-bar-results" *ngIf="expanded">
            <div class="message message-error" *ngIf="searchBarService.autocompleteError">{{ searchBarService.autocompleteError }}</div>
            <div class="search-examples">
                Examples: <a (click)="action(example1)">{{ example1 }}</a> or
                <a (click)="action(example2)">{{ example2 }}</a>
                (GRCh37 coordinates)
            </div>
        </div>
    </div>
</div>
