<div class="search-band">
    <div class="search-content" [ngClass]="{'expanded': expanded}">
        <div class="search-bar">
            <app-search-bar [options]="{autofocus: false}" (focused)="onFocus()" [action]="action"></app-search-bar>
        </div>
        <div class="search-bar-results" *ngIf="expanded">
            <div class="search-options">
                <app-search-option *ngFor="let option of searchBarService.options"
                                   [option]="option"></app-search-option>
            </div>

            <div class="message message-error" *ngIf="searchBarService.error">{{ searchBarService.error }}</div>
            <div class="search-examples">
                Examples: <a (click)="action('FAM110C')">FAM110C</a> or
                <a (click)="action('22:46546424-46639653')">22:46546424-46639653</a>
                (GRCh37 coordinates)
            </div>
        </div>
    </div>
</div>
