<app-page-container>
    <section>
        <a target="_blank" href="https://dbc-b3e23e2b-ab9e.cloud.databricks.com/saml/auth?hash=">Analyze Genomic data with our Databricks environment</a>
        <a class="image" target="_blank" href="https://dbc-b3e23e2b-ab9e.cloud.databricks.com/saml/auth?hash=">
            <img src="assets/db.jpeg">
        </a>

        <p>Learn more about databricks <a target="_blank" href="https://databricks.com/product/databricks">here</a></p>
    </section>

</app-page-container>
