section {
    padding: 4rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
    flex-direction: column;
    align-items: center;
}

section p {
    margin: 1rem;
}

.image {
    margin: 2rem 1rem 1rem 1rem;
}

img {
    max-width: 800px;
}
