<app-page-container>
    <section>
        <h1 class="title">Medical Genome Reference Bank – Data Access</h1>
        <div class="sub-title">Policy</div>
        <p>
            There are three documents that govern the Medical Genome Reference Bank data access:
        <ul>
            <li>The Data Access Policy (DAP) summarises the governance policy applied to individual and
                institutional access to the Medical Genome Reference Bank (MGRB).
                <div>
                    <a class="pdf-link" target="_blank" href="assets/MGRB_DAP_v_1_0_3.pdf">
                        <span>Download Data Access Policy v1.03 PDF</span>
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
            </li>
            <li>
                The Data Access Application (DAA) is an application to gain access to comprehensive genotypic and
                clinical
                information from MGRB participants. This application is based on the exacting standards of the
                European Genome-phenome Archive.
                <div>
                    <a class="pdf-link" target="_blank" href="assets/MGRB_DAA_v_1_4.pdf">
                        <span>Download Data Access Application v1.4 PDF</span>
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
            </li>
            <li>
                The Information Handling Statement (IHS) describes how private information is handled in the MGRB
                project.
                <div>
                    <a class="pdf-link" target="_blank" href="assets/MGRB_IHS_9122016.pdf">
                        <span>Download Information Handling Statement v1.00 PDF</span>
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
            </li>
        </ul>

        <div class="sub-title">Overview</div>
        <p>
            Curated data will be openly accessible to the international research community through the SGC website.
            Preliminary
            features will include a Beacon, as defined by the Global Alliance for Genomics and Health, extensive variant
            annotation, complex queries (including genetic annotations, and genomic regions), visualisation of variant
            data
            (e.g. genome viewer/gene networks) and ultimately, analysis tools for assessing the genetic burden of
            individual
            variants and variant subsets. While basic demographic and phenotypic information will be incorporated into
            the
            SGC data portal, researchers are invited to apply for access to comprehensive genotypic and clinical
            information to
            support high-level integrative analysis.
        </p>

        <p>
            To maintain participant privacy and confidentiality, whilst maximising MGRB utility, we have deployed a
            tiered
            data
            management system that determines the richness of data that is made available to researchers (as summarised
            in
            the
            schematic below). This consists of 3 access tiers; Open access, Controlled access and Restricted access.
        </p>
        <div class="sub-title">Data Access Tiers</div>
        <img src="assets/data.png">
    </section>
</app-page-container>
