<div class="form">
    <div class="fields">
        <mat-form-field>
            <mat-select placeholder="Dimension" [(ngModel)]="filter.dimension">
                <mat-option *ngFor="let c of data.mfs.columns" [value]="c">
                    {{ c.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Operator" [(ngModel)]="filter.operator">
                <mat-option *ngFor="let o of operators()" [value]="o">
                    {{ o }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Value" [(ngModel)]="filter.value">
        </mat-form-field>
    </div>

    <button mat-raised-button (click)="addFilter()">Add filter</button>
</div>

