<div *ngIf="!error && !denied">
    <div>
        <div class="toolbar">
            <div class='dc-data-count'>
                <span class='filter-count'></span>
                selected out of <span class='total-count'></span> patient records.
            </div>
            <div class="actions">
                <mat-icon (click)="resetFilters()" matTooltip="Reset" matTooltipPosition="above">refresh</mat-icon>
                <mat-icon [matMenuTriggerFor]="menu" matTooltip="Add/Remove Filters" matTooltipPosition="above">toc</mat-icon>
                <mat-menu #menu="matMenu">
                    <div class="filter-option" *ngFor="let c of charts" (click)="$event.stopPropagation(); $event.stopImmediatePropagation()">
                        <span>{{c.name}}</span>
                        <mat-slide-toggle [(ngModel)]="c.enabled"></mat-slide-toggle>
                    </div>
                </mat-menu>
            </div>
        </div>


        <div class="charts" *ngIf="charts">
            <div *ngFor="let c of charts">
                <app-clinical-chart *ngIf="c.enabled" [data]="c"></app-clinical-chart>
            </div>
        </div>
    </div>
</div>
<div *ngIf="denied" class="message message-error">You do not have permission to view this data. You can apply for <a routerLink="/terms/mgrb">access</a> or view a <a (click)="viewDemo()">demo</a>.</div>
<div *ngIf="error" class="message message-error">An unexpected error occurred, please try again or contact support</div>
