<div class="browser" (wheel)="wheeling($event)">
    <div class="message message-error" *ngIf="!ensemblSupported">Unfortunately we cannot connect to ensembl. The
        transcripts and sequence tracks will not be available.
    </div>
    <div class="details">
            <div class="left">
            </div>
            <div class="gb-nav">
            </div>

            <div class="right">
                <mat-slide-toggle *ngIf="ensemblSupported" [ngModel]="transcriptsShown" (ngModelChange)="toggleTranscripts()" matTooltip="Show/hide Transcripts from Ensembl" matTooltipPosition="above">
                    Transcripts
                </mat-slide-toggle>
            </div>
    </div>
    <div #genomeBrowser id="genome-browser"></div>
    <div class="legend" [ngClass]="{hidden: !transcriptsShown}" id="genome-browser-gene-legend">
        <span>Gene legend:</span>
    </div>
</div>

