.supporting-text, .genomes {
    color: rgba(0, 0, 0, .5);
    margin: 1rem;
}

.title-text {
    font-size: x-large;
    font-weight: lighter;
    margin: 1rem;
    line-height: normal;
}

/* Modified example from http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.initiative-card {
    margin: 10px;
    position: relative;
    display: inline-block;
    max-width: 320px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.17, 0.8, 0.4, 1);
    transition: all 0.3s cubic-bezier(0.17, 0.8, 0.4, 1);
}

.initiative-card::after {
    content: "";
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.17, 0.8, 0.4, 1);
    transition: all 0.3s cubic-bezier(0.17, 0.8, 0.4, 1);
}

.initiative-card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
}

.initiative-card:hover::after {
    opacity: 1;
}

.supporting-text h6 {
    margin-bottom: 0.5em;
}

mat-progress-bar {
    margin-bottom: 1rem;
}

@media (min-width: 0px) and (max-width: 500px) {

    .initiative-card {
        margin: 1rem;
        max-width: 250px;
    }

}
