@import '../node_modules/font-awesome/css/font-awesome.css';

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #003263;
    margin: 0;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

ul {
    font-size: 14px;
    line-height: 24px;
}

ul {
    font-weight: 400;
    letter-spacing: 0;
}

h6 {
    font-size: 16px;
    letter-spacing: .03em;
}

p {
    font-weight: 400;
    line-height: 24px;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    font-weight: 400;
}

h6 {
    margin: 24px 0 16px;
}

select {
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 1px;
}

input {
    border: solid 1px lightgrey;
    border-radius: 1px;
    padding: 5px;
}

section {
    padding: 1em;
    margin: 0 auto;
    max-width: 80em;
}

.main-container {
    background-color: whitesmoke;
    border-bottom: 0.1em solid lightgrey;
    border-top: 0.1em solid lightgrey;
    padding: 1em;
}

header nav {
    margin-bottom: 1em;
}

header nav a {
    padding: 1em 1em 1em 0;
    text-transform: uppercase;
}

.message-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.message-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.message-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.message-info {
    background-color: transparent;
    color: #003263;
}

.message {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #00aedb;
}

rect.tnt_pane {
    fill: white !important
}

#genome-browser .domain {
    fill: gainsboro;
}

#tnt_genome-browser > div > svg > g > g > g:nth-child(2) > text {
    display: none;
}

.tnt_elem {
    cursor: pointer;
}

.snack-bar-demo-container {
    background-color: #f2dede !important;
    color: #a94442 !important;
}

.mat-dialog-container{
    background-color: whitesmoke;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 600px;
    width: 100%;
}

.custom-mat-short-column {
    max-height: 300px !important;
}

.mat-progress-bar-fill::after {
    background-color: #00aedb !important;
}
