.view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
